body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #7fcbd7;
}

.logo span {
    color: #93c8cb;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #7c7b7e;
    font-weight: bold;
    font-size: 18px;
}

.nav-links a.active {
    color: #333;
}

.nav-links a:hover {
    color: #333;
}

#exclusivos{
    color:#93c8cb ;
}

.titulo{
   

}

.img{
    text-align: right;
    padding-top: 10em;
    padding-right: 28em;
    float: right;
}

.principal{
    width: 489px;
    height: 112px;
    padding-top: 197px;
    padding-left: 119px;
}

footer{
   
    text-align: center;
    padding-top: 33em;
    
}