div{
    text-align: center;
   
}

footer{
    text-align: center;
}



p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    line-height: 25px;
    
}

h1{
    font: 49px "Inter", sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.315);
    
}

footer{
    font-family:Arial, Helvetica, sans-serif;
}

#final{
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 14px;
}

.palavra{
    color:#0075FF;
    

}

body{
    padding-left: 100px;
    padding-right: 100px;
}

a{
    color: #0075FF;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: blueviolet;
}

a:active{
    color: red;
}

.azul{
    color:#0075FF;
}
